body {
    background-color: #000;
    color: #fff;
    height: 100vh;
}

.redirect-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    text-align: center;
    /* background-color: aqua; */
    padding: 20px;
}

.redirect-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redirect-container img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    /* border-radius: 50%; */
}