.load_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
<<<<<<< HEAD
    /* border: 2px solid red; */
=======
    border: 2px solid red;
>>>>>>> 7036aa1 (test)
    width: 100%;
    /* base-win */
    height: 100vh;

<<<<<<< HEAD
=======

>>>>>>> 7036aa1 (test)
    /*  */

    align-items: center;

}

.load_cover_pane{
    /* border: 2px solid blue ; */
    position: relative;
    width: 350px;

    text-align: center;
    z-index: 1;
}

.load_text{
    letter-spacing: 1px;
    color: #ffffff;
    /* z-index: 4; */
}


.load_text2{
    position: relative;
<<<<<<< HEAD
    letter-spacing: 1px;
=======
    letter-spacing: 2px;
>>>>>>> 7036aa1 (test)
    z-index: 3;
}

/* 预留 */
.load_cover_pane.cover{
position: absolute;
z-index: 1;
background-color: #000001;
height: 100%;
width: 1%;

}

.load_process_body{
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    height: 25px;
    width: 100%;
    margin-top: 5%;
    
=======
    /* border: 2px solid black; */
    height: 25px;
    width: 100%;
    margin-top: 10%;
>>>>>>> 7036aa1 (test)
}

.load_process_body.text{
    font-weight: bold;
    font-size: 0.725em;
}

.load_process_body_left{
    display: flex;
    flex-direction: row;
    
    width: 50%;
}

.load_process_body_right{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    /* background-color:  red; */
}
/*  */
.load_process_body_left_index{
<<<<<<< HEAD

=======
>>>>>>> 7036aa1 (test)
    display: flex;
    flex-direction: column;
    /* background-color:  blue; */
    height: 100%;
    /*初始值 */
    width: 5%;
}
.load_process_body_left_index_text{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 2px;
    margin-right: 5px;
    font-size: 0.725em;
    height: 60%;
}

.load_process_body_left_index_process{
    display: flex;
    height: 40%;
    width: 100%;
<<<<<<< HEAD
    background-color:  #0f0f0f;
=======
    background-color:  red;
>>>>>>> 7036aa1 (test)
}





.load_process_body_right_index{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD

=======
    /* background-color:  red; */
>>>>>>> 7036aa1 (test)
    height: 100%;
    width: 5%;
}


.load_process_body_right_index_text{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 2px;
    margin-left: 5px;
    font-size: 0.725em;
    height: 60%;
}

.load_process_body_right_index_process{
    display: flex;
    height: 40%;
    width: 100%;
<<<<<<< HEAD
    background-color:  #0f0f0f;
}


/* loadresoe */

.load_promp_text_pane{
    position: relative;
    display: flex;
    justify-content: center;

   
    width: 100%;
    height: 20px;
    

    /* text */
    font-weight: bold;
    font-size: 1.125em;
}

.load_promp_text_pane_PARENT{
    position: relative;
    margin-top: 5%;
    margin-bottom: 2%;
    height: 20px;
    /* border: blue solid 2px; */
    width: 60%;
}

/*  */

.load_body_div{
    top: 0;
    left: 0;
    position: absolute;
    width: 100% ;
    height: 100%;
    z-index: 50;
    overflow: hidden;
    
}
.load_body_frame{
    width: 100%;
    height: 100%;
    
=======
    background-color:  blue;
>>>>>>> 7036aa1 (test)
}