.top_pane_body{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 420px;
    /* background-color:#181737; */
    /* background-image: url(../media/site_media/98616585_p0.png); */
    background-size: cover;
    border: 2px solid purple;
    justify-content: center;
    box-shadow: 3px 3px 2px rgb(96, 95, 95);
    z-index: 1;
}



/* 个人展示页 */

.top_personal_introduct{
    display: flex;
    flex-direction: column;
  
    height: 75%;
}

.top_personal_introduct_person{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 2px solid peru; */

    height: 225px;
}

.top_personal_introduct_personimg{
    border: 1px solid  #030303;
    width: 120px;
    height: 120px;
    margin-top: 24px;
    border-radius: 50%;
}

.top_personal_introduct_personbio{
    display: flex;
     /* border: 2px solid yellow; */
    height: 55px;
    justify-content: center;
    width: auto;
}

.top_personal_introduct_personbio_text{
    display: flex;
     /* border: 2px solid yellow; */
    height: 100%;
    width: 30%;
    color: #f0f0f0;
    justify-content: center;
    overflow: hidden;
    /* width: calc(100% - 20px); */
    border-bottom: 1px solid #6b6969;
}

.top_personal_introduct_personprofile{
    display: flex;
    flex-direction: column;
   
    flex-grow: 1;
}

.top_personal_introduct_current{
    display: flex;
    flex-direction: row;
    /* border: 2px solid  blue; */
    height: 40px;
}

.top_personal_introduct_currentbox{
    display: flex;
    flex-direction: row-reverse;
    /* border: 2px solid black; */
    width: 20%;
}

.top_personal_introduct_currentboxin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-left: 10px;
    /* border: 2px solid red; */
    height: 100%;
    font-size: 1.125em;
    color: #f0f0f0;
    
}

.top_personal_introduct_currentboxin2{
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: right;
    
    
}

.top_personal_introduct_currentboxin2_img{
    width: 55%;
    /* height: 30px; */
}




.top_personal_introduct_contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* grid-row: 1; */
    height: 60px;
    border: 2px solid green;
}

.top_personal_introduct_contact_in{
    display: flex;
    flex-direction: row;
    width: 35%;
    border: 2px solid goldenrod;
    align-items: center;
    transition: 0.5s;
}

.top_personal_introduct_contact_in ul{
    list-style: none;
}

.top_personal_introduct_contact_in img{
    width: 30px;
}

.top_personal_introduct_contact_sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #6b6969;
    border-bottom:1px solid #6b6969;
    border: 2px solid purple;
    height: 100%;
    width: 20%;
    position: relative;
}



.top_personal_introduct_contact_sub_img{
    position: absolute;
    /* top: 5px; */
    width: 27px;
}

.top_personal_introduct_contact_sub_text{
    /* display: none; */
    position: absolute;
    border: red solid 2px;
    color: #f0f0f0;
    z-index: 5;
    height: 15px;
    display: none;
    top: 28px;
    font-size: 0.625em;
    /* top: 40px; */
}

.top_nav_body{
    display: flex;
    flex-direction: row;
    /* height: 8%; */
    /* grid-row:1 ; */
    height: 40px;
    background-color: #192845;
    /* border: 2px solid red; */
}
.top_nav_side{
    /* border: 2px blue solid; */
    height: 100%;
    width: 20%;
}

.top_nav_cent{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: green; */
    height: 100%;
    width: 60%;
    /* border: 2px solid yellow; */
}

.top_nav_body li{
    font-weight: bold;
    font-size: 0.925em;
    margin-left: 15px;
    display: inline;
}

.top_nav_body a{
    color: #f0f0f0;
    font-family: "Sans Serif" "楷体", "黑体";
    text-decoration: none;
}

.top_nav_body_content{
    list-style-type: none;
}
